
<html>
  <head>
    <meta charset="utf-8">
    <title>Ehla Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/superhero/bootstrap.min.css" />
  </head>
  <body>
    <h1>Hello <%= title %></h1>
    <img src="<%= img %>" />
  </body>
</html>
